:root {
width: 755px;
}
body {
margin: 0 auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: #F2F2F2;
}
main {
margin: 0 auto;
padding: 30px 40px 10px 40px;
width: var(--width);
}
.section {
margin: 0;
padding-top: 10px;
color: #531604;
display: block;
}
.section::after {
content: '';
overflow: hidden;
border-bottom: 1px solid #A8A8A8;
display: block;
margin: 15px 0 20px 0;
}
.food {
display: flex;
flex-direction: row;
margin-bottom: 30px;
}
.food:hover .price span:nth-of-type(1) {
transform: scale(1.02);
color: #989605;
}
.image {
width: 149px;
margin-right: 5px;
}
.image img {
transition: opacity 150ms linear, transform 150ms linear;
}
.image img:hover {
opacity: 0.6;
 transform: scale(1.05);
color: #989605;
}
.info {
display: flex;
flex-direction: column;
}
.price {
margin: 0 auto;
padding: 5px 0 15px 0px;
font-size: 25px;
}
.price::after {
content: '.............................................................................................................................................................................................................';
display: block;
overflow: hidden;
font-size: 11px;
margin-top: 14px;
color: #A8A8A8;
}
.price span:nth-of-type(1) {
margin-right: 10px;
float: left;  
color: #B59040;
transition: opacity 150ms linear, transform 150ms linear;
}
.price span:nth-of-type(2) {
margin-left: 10px;
float: right;
color: #989605;
}
.description {
margin: 0 auto;
font-size: 18px;
color: #53676E;
}