:root {
    --width: 100%;
}
body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
header, footer {
    width: var(--width);
}
.header {
    background-color: #4cb1ca;
}
.header_top, .footer_first_size, .footer_second_size, .footer_third_size { 
    width: 1024px;
    margin: 0 auto;
    padding: 14px 0 18px 0;
}
.header_button {
    background-color: inherit;
    border: none;
    color: #ffff;
    font-size: 13px;
}
.header_button:nth-of-type(1)::before {
    content: "Language: ";
    opacity: .8;
}
.header_button:nth-of-type(2)::before {
    content: "Currency: ";
    opacity: .8;
}
.header_top>a {
    border-right:1px solid #ffff;
    padding: 0 11px 0 5px;
    color: #ffff;
    font-size: 13px;
    text-decoration: none;
    position: relative;
    left: 430px;
}
.header_top>a:last-child {
    border: none;
}
.header_down {
    background-color: #ffff;
}
.menu {
    padding: 30px 0 25px 0;
    width: 1024px;
    margin: 0 auto;
}
.menu>p:nth-of-type(1) {
    margin: 0;
    font-size: 36px;
    font-weight: 800;
    color: #656565;
    padding-right: 43px;
    display: inline-block;
}
.menu>button {
    position: relative;
    bottom: 7px;
    border: none;
    background-color: inherit;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 900;
    color: #656565;
    display: inline-block;
}
.menu>form {
    position: relative;
    bottom: 7px;
    display: inline-block;
    padding-left: 55px;
    padding-right: 10px;
}
.menu>form>input {
    width: 177px;
    height: 32px;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: 92% 45%;
    opacity: .6;
}
.Circle>img {
    width: 38px;
    height: 38px;
    position: relative;
    top: 6px;
}
.menu>a:nth-of-type(3) {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    position: relative;
    bottom: 7px;
    font-weight: 900;
    color: #656565;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 12px;
}
.slider {
    position: relative;
    display: flex;
    align-items: center;
}
    .photo {
    width: 100%;
    height: auto;
}
.slider button:nth-of-type(1) {
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #ffff;
    border: none;
    top: 203px;
    left: 114px;
}
.slider button:nth-of-type(2) {
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #ffff;
    border: none;
    top: 203px;
    left: 1210px;
    }
.slider_text {
    position: absolute;
    left: 265px;
    }
.slidertext1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffff;
    background-color: #716a61;
    width: 100%;
    max-width: 300px;
    padding: 12px 0 12px 16px;
    }
.slidertext2 {
    font-size: 30px;
    font-weight: 700;
    color: #ffff;
    background-color: #716a61;
    padding: 12px 16px;
    margin-top: 4px;
    }
main {
    margin: 0 auto;
    background-color: #ffff;
    position: relative;
    padding-bottom: 60px;
    width: 1024px;
}
.avertisement {
    background-color: #ffff;
    margin-top: 40px;
    float: right;
    width: 234px;
    border-top: 5px solid #4cb1ca;
}
.title{
    display: block;
    box-shadow: 0 0px 2px 1px #dfdfdf;
}
.title_name {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
.avertisement>div:nth-of-type(2) {
    box-shadow: 0 0px 2px 1px #dfdfdf;
    padding: 0 81px 13px 81px;
}
.littlecircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #7eb123;
    margin-right: 9px;
    display: inline-block;
    position: relative;
    top: 6px;
}
.littlecircle:first-child {
    background-color: #4cb1ca;
}
.block {
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
    overflow: hidden;
}
.block>img {
    width: 90%;
    height: auto;
    padding-left: 12px;
    transition: .7s;
    display: block;
}
.block img:hover {
    transform: scale(1.1);
}
.block>button {
    position: absolute;
    top: 75%;
    left: 23%;
    margin: 0 auto;
    padding: 17px 26px 17px 26px;
    background-color: #4cb1ca;
    font-size: 14px;
    color: #ffff;
    border: none;
    cursor: pointer;
}
.title_name {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 400;
    color: #635f57;
}
.signup {
    padding: 30px 20px 30px 20px;
    box-shadow: 0 0px 2px 1px #dfdfdf;
    border-top: 5px solid #4cb1ca;
    margin-top: 50px;
}
.signup>p:nth-of-type(1) {
    font-size: 24px;
    color: #635F57;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.signup>p:nth-of-type(2) {
    font-size: 14px;
    color: #696969;
    margin: 0 auto;
    margin-bottom: 11px;
    text-align: center;
}
.signup>hr {
    margin: 0 auto;
    width: 86px;
    background-color: #dfdfdf;
    margin-bottom: 14px;
}
.signup>form {
    margin: 0 auto;
    margin-bottom: 17px;
}
.signup>form>input {
    width: 186px;
    height: 25px;
    background-color:#ffff;
    border-color: #dfdfdf;
}
.signup>button {
    margin: 0 auto;
    padding: 17px 25px;
    display: block;
    background-color: #7eb123;
    border: none;
    font-size: 14px;
    color: #ffff;
    cursor: pointer;
}
.menuName {
    padding-top: 50px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #635f57;

}
.product {
    width: 233px;
    height: 330px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 1px 2px 6px 1px #dfdfdf;
    margin: 15px 0 30px 15px;
}
.product_image {
    position: relative;
}
.NEW {
    position: absolute;
    top: -2px;
    left: 142px;
    z-index: 1;
}
.SALE {
    position: absolute;
    z-index: 1;
}
.product_image>a {
    display: block;
    padding-left: 18px;
    padding-top: 79px;
    width: 184px;
    height: 139px;
}
.shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 222px;
    height: 230px;
    background: rgba(0, 0, 0, .1);
    margin: 6px;
}
.product_info {
    margin-top: 30px;
    margin-left: 7px;
    display: inline-block;
}
.product_info>h3 {
    font-size: 14px;
    font-weight: 500;
    color: #464148;
    margin: 0 auto;
}
.price {
    font-weight: 400;
    font-size: 18px;
    color: #7eb123;
}
.price>s {
    font-size: 14px;
    color: #464148;
}
.basket {
    display: inline-block;
    padding-left: 10px;
    margin-top: 30px;
}

.basket>img {
    width: 46px;
    height: 46px;
}
.footer_first {
    text-align: center;
    background-color: #4cb1ca;
}
.footer_first_size {
    padding: 20px 0 18px 0;
}
.footer_first_size>div:nth-of-type(1) {
    float: left;
    margin-right: 90px;
}
.bluecircle {
    display: inline-block;
    width: 66px;
    height: 66px;
    background-color: #ffff;
    border-radius: 50%;
}
.bluecircle>img:nth-of-type(1) {
    transform: translate(0, 18px);
}
.bluecircle+p {
    display: inline-block;
    margin: 0 auto;
    font-size: 21px;
    color: #ffff;
    position: relative;
    top: 14px;
    left: 19px;
}
.footer_second {
    background-color: #39a0b9;
}
.footer_second_size {
    padding: 49px 0 50px 0;
}
.facebook {
    float: left;
    width: 240px;
    position: relative;
}
.facebook>h1 {
    margin: 0 auto;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 400;
    margin-bottom: 25px;
}
.facebook>p:nth-of-type(1) {
    margin: 0 auto;
    font-size: 13px;
    color: #ffff;
    margin-bottom: 6px;
}
.likebutton{
    width: 47px;
    height: 23px;
    border: none;
    background-color: inherit;
    background-image: url(images/Like_sign.png);
    margin-bottom: 5px;
}
.people {
    width: 240px;
}
.people+hr {
    width: 230px;
    margin: 0;
    opacity: .5;
    margin-bottom: 7px;
}
.facebook>p:nth-of-type(2) {
    margin: 0;
    font-size: 13px;
    color: #ffff;
}
.twitter {
    float: left;
    width: 220px;
    position: relative;
    margin-left: 40px;
}
.twitter>h1 {
    margin: 0 auto;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 400;
    margin-bottom: 30px;
    display: inline-block;
}
.birdcircle {
    margin: 0;
    margin-bottom: 58px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffff;
    background-image: url(images/twitter.png);
    background-repeat: no-repeat;
    background-position: 13px 13px;
    position: relative;
}
.twitter>p:nth-of-type(1) {
    margin: 0 auto;
    position: absolute;
    left: 50px;
    font-size: 13px;
    color: #ffff;
}
.twitter>p:nth-of-type(2) {
    margin: 0 auto;
    position: absolute;
    left: 50px;
    font-size: 13px;
    color: #ffff;
}
.highlight {
    text-decoration: none;
    color: #9ae2f4;
}
.information {
    float: left;
    width: 220px;
    position: relative;
    margin-left: 50px;
}
.information>h1 {
    margin: 0 auto;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 400;
    margin-bottom: 30px;
    display: inline-block;
}
.information>ul {
    margin: 0 auto;
    font-size: 13px;
    color: #ffff;
    line-height: 25px;
    list-style-type:disclosure-closed;
    list-style-position: outside;
    padding-left: 21px;
}
.contactus {
    width: 220px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
.contactus>h1 {
    margin: 0 auto;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 400;
    margin-bottom: 30px;
    display: inline-block;
}
.contactus>p:nth-of-type(1) {
    margin: 0 auto;
    font-size: 13px;
    line-height: 20px;
    color: #ffff;
    margin-bottom: 15px;
}
.footer_contact>hr {
    margin: 0;
    width: 196px;
    opacity: .3;
    margin-bottom: 18px;
}
.socialmedia {
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.socialmedia>img {
    width: 36px;
    height: 36px;
}
.footer_third {
    background-color: #0b4b5a;
}
.footer_third_size {
    padding: 24px 0 28px 0;
}
.footer_third_size>div:nth-of-type(1) {
    font-size: 13px;
    color: #8adcf0;
    display: inline-block;
}
.footer_third_size>a:nth-of-type(1n) {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    color: #8adcf0;
    border-right: 1px solid #8adcf0;
    padding: 0 10px 0 5px;
    position: relative;
    left: 280px;
}
.footer_third_size>a:nth-of-type(4) {
    border: none;
}