body {
    margin: 0 auto;
    width: 750px;
    font-family: system-ui;
}
.head {
    height: 235px;
    background-color: #2d7053;
}
.logo {
    margin-left: 38px;
    margin-top: 47px;
    float: left;
}
.menutext {
    color: #FFFF;
    font-size: 30px;
    margin-left: 58px;
    margin-top: 44px;
    float: left;
    line-height: 35px
}
.menu {
    float: right;
    margin-top: 69px;
    margin-right: 44px;
}
.image {
    width: 750px;
    height: 466px;
    background-image: url(images/room.png);
}
.button1 {
    margin-top: 345px;
    margin-left: 217px;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    line-height: 75px;
    text-align: center;
    font-size: 24px;
    color: #FFFF;
    display: inline-block;
    border: none;
}
.photo {
    margin-top: 73px;
    margin-left: 44px;
    float: left;
}
.name {
    font-size: 36px;
    float: left;
    text-align: left;
    margin-top: 134px;
    margin-left: 75px;
}
.specialization {
    font-size: 24px;
    width: 280px;
    height: 50px;
    float: left;
    text-align: left;
    margin-top: 0;
    margin-left: 73px;
}
.info {
    margin-left: 44px;
    margin-top: 60px;
    float: left;
    font-size: 24px;
}.reasons {
    margin-left: 44px;
    margin-top: 46px;
    font-size: 36px;
    float: left;
}
.list {
    width: 300px;
    height: 190px;
    float: left;
    margin-left: 44px;
    margin-top: 43px;
    font-size: 24px;
    padding-left: 2px;
}
.button2 {
    margin-top: 80px;
    margin-left: 205px;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    line-height: 75px;
    text-align: center;
    font-size: 24px;
    color: #FFFF;
    display: inline-block;
    border: none;
}
.footer {
    margin-top: 50px;
    width: 750px;
    height: 154px;
    background-color: #888888;
}
.logo2 {
    margin-left: 45px;
    margin-top: 29px;
    float: left;
}
.address {
    width: 220px;
    height: 20px;
    padding-left: 300px;
    padding-top: 96px;
    font-size: 18px;
    position: absolute;
    color: #ffff;
}
.mail {
    width: 145px;
    height: 20px;
    padding-left: 561px;
    padding-top: 96px;
    font-size: 18px;
    position: absolute;
    color: #ffff;
}
.phone {
    width: 150px;
    height: 20px;
    padding-left: 561px;
    padding-top: 56px;
    font-size: 18px;
    position: absolute;
    color: #ffff;
}