:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.91vw;
  --pxequal: 0.051vw;
}
body {
  width: 100%;
  padding-top: 0;
  margin: 0 auto auto 0;
}
header {
  width: 100%;
  height: calc(var(--pxequal) * 1130);
  background-color: #131210;
  display: block;
}
.Logo {
  float: left;
  width: 2.80vw;
  height: 2.5vw;
  margin-top: calc(var(--pxequal) * 60);
  margin-left: calc(var(--pxequal) * 103);
}
address {
  width: auto;
  float: left;
  margin-top: calc(var(--pxequal) * 77);
  margin-left: calc(var(--pxequal) * 1130);
}
address a {
  text-decoration: none;
  font-style: normal;
  color: #ffff;
  font-size: 1rem;
  display: block;
  float: left;
} 
address a:first-child:before {
  display: block;
  content: ' ';
  float: left;
  width: calc(var(--pxequal) * 32);
  height: calc(var(--pxequal) * 26);
  margin-right: calc(var(--pxequal) * 12);
  background-image: url(images/Mail.png);
  background-size: cover;
}
  address a:last-child:before {
  display: block;
  content: ' ';
  float: left;
  width: calc(var(--pxequal) * 32);
  height: calc(var(--pxequal) * 32);
  margin-right: calc(var(--pxequal) * 12);
  margin-left: calc(var(--pxequal) * 37);
  background-image: url(images/Phone.png);
  background-size: cover;
}
.login {
  width: calc(var(--pxequal) * 124);
  height: calc(var(--pxequal) * 55);
  float: left;
  background-color: #ffff;
  margin-left: calc(var(--pxequal) * 37);
  margin-top: calc(var(--pxequal) * 60);
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #135ec5;
  text-decoration: none;
  line-height: 330%;
  clear: right;
}
header p {
  margin: 0;
  color: #131210;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  padding-top: calc(var(--pxequal) * 275);
  width: auto;
}
header p span {
  background-color: #11100e;
  white-space: pre;
  border: 2.5rem solid #12110f;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
}
.headercar {
  width: calc(var(--pxequal) * 793);
  height: calc(var(--pxequal) * 490);
  margin-top: calc(var(--pxequal) * -315);
  margin-left: calc(var(--pxequal) * 570);
}
.tagline {
  font-weight: bold;
  color: #ffff;
  text-align: center;
  margin-top: calc(var(--pxequal) * 47);
}
.sidebullets {
  width: calc(var(--pxequal) * 10);
  height: calc(var(--pxequal) * 54);
  float: right;
  margin-top: calc(var(--pxequal) * -370);
  margin-right: calc(var(--pxequal) * 81);
}
.greybullet {
  background-color: #3c3c3c;
  border-radius: 50%;
  width: calc(var(--pxequal) * 9);
  height: calc(var(--pxequal) * 9);
}
.bluebullet {
  background-color: #135ec5;
  border-radius: 50%;
  width: calc(var(--pxequal) * 9);
  height: calc(var(--pxequal) * 9);
  margin-top: calc(var(--pxequal) * 11);
  margin-bottom: calc(var(--pxequal) * 11);
}
header ul {
  margin-top: calc(var(--pxequal) * 48);
  list-style: none;
  width: 70%;
}
header ul li {
  width: calc(var(--pxequal) * 330);
  font-weight: bold;
  font-size: 1.67rem;
  color: #3c3c3c;
  float: left;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 1%;
  margin-left: calc(var(--pxequal) * 109);
}
.bluesearch {
  width: calc(var(--pxequal) * 214);
  height: calc(var(--pxequal) * 55);
  float: right;
  background-color: #135ec5;
  margin-right: calc(var(--pxequal) * 207);
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  line-height: 330%;
}
block p {
  color: #c1c1c1;
  text-align: center;
  margin-top: calc(var(--pxequal) * 59);
}
block hr {
  border-top: 1px solid #ebebeb;
  margin-top:  calc(var(--pxequal) * 68);
} 
.trademarks1 {
  margin-top: calc(var(--pxequal) * 68);
  margin-left: calc(var(--pxequal) * 101);
  height: calc(var(--pxequal) * 71);
  display: block;
}
.trademarks1 img {
  width: auto;
  margin-right:  calc(var(--pxequal) * 170);
  height: 100%;
}
.trademarks1 img:last-child {
  margin-right: 0;
}
block>img {
  width: calc(var(--pxequal) * 524);
  height: calc(var(--pxequal) * 286);
  margin-left:  calc(var(--pxequal) * 242);
  margin-top:  calc(var(--pxequal) * 185);
  float: left;
}
info {
  display: block;
  width: calc(var(--pxequal) * 650);
  height: calc(var(--pxequal) * 197);
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  color: #c1c1c1;
  overflow: hidden;
  float: left;
  margin-top: calc(var(--pxequal) * 174);
  margin-left: calc(var(--pxequal) * 249);
  line-height: 260%; 
}
info>p {
  color: #135ec5;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
  text-align: start;
  margin-top: 0;
  padding-top: calc(var(--pxequal) * 10);
}
.blueallmodels {
  width: calc(var(--pxequal) * 214);
  height: calc(var(--pxequal) * 55);
  display: block;
  float: left;
  margin-left: calc(var(--pxequal) * 245);
  margin-top: 2%;
  background-color: #135ec5;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  line-height: 330%;
}
advertising {
  display: block;
  height: calc(var(--pxequal) * 541);
  background-color: #135ec5;
  overflow: visible;
  margin-top: calc(var(--pxequal) * 630);
}
advertising>p {
  font-weight: bold;
  text-align: center;
  color: #ffff;
  font-size: 3.3rem;
  margin: 0;
  padding-top: calc(var(--pxequal) * 155);
}
.addnow {
  width: calc(var(--pxequal) * 214);
  height: calc(var(--pxequal) * 55);
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(var(--pxequal) * 70);
  background-color: #135ec5;
  border: 2px solid #ffff;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  line-height: 330%;
}
advertising img {
  margin-left: 33%;
  margin-top: calc(var(--pxequal) * 70);
  width: calc(var(--pxequal) * 624);
  height: calc(var(--pxequal) * 236);
}
.left_product {
  width: calc(var(--pxequal) * 450);
  height: calc(var(--pxequal) * 568);
  margin-top: calc(var(--pxequal) * 363);
  margin-left: 10rem;
  box-shadow: 0 0 10px #c1c2c4;
  float: left;
}
.left_product header {
  background-color: #135ec5;
  width: 100%;
  height: 30%;
} 
.left_product header img {
  display: block;
  width: calc(var(--pxequal) * 280);
  height: calc(var(--pxequal) * 162);
  padding-top: calc(var(--pxequal) * 100);
  margin-left: auto;
  margin-right: auto;
} 
.left_fresh {
  width: calc(var(--pxequal) * 85);
  height: calc(var(--pxequal) * 29);
  display: block;
  float: right;
  margin-top: calc(var(--pxequal) * -230);
  margin-right: calc(var(--pxequal) * 24);
  background-color: #ffff;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #135ec5;
  text-decoration: none;
  line-height: 230%;
}
.left_product p:nth-of-type(1) {
  font-size: 1.67rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top:  calc(var(--pxequal) * 139);
  margin-bottom: 0;
}
.left_product p:nth-of-type(2) {
  font-size: 0.78rem;
  font-weight: bold;
  color: #135ec5;
  text-align: center;
  margin-top:  calc(var(--pxequal) * 19);
  margin-bottom: 0;
}
.left_product p:nth-of-type(3) {
  font-size: 0.83rem;
  font-weight: bold;
  color: #c1c1c1;
  text-align: center;
  margin-top: calc(var(--pxequal) * 40);
  margin-bottom: 0;
} 
.left_product p:nth-of-type(4) {
  font-size: 1.67rem;
  font-weight: bold;
  color: #16ad2c;
  margin-top: calc(var(--pxequal) * 50);
  margin-left: calc(var(--pxequal) * 50);
}
.moreinfo {
  width: calc(var(--pxequal) * 192);
  height: calc(var(--pxequal) * 49);
  display: block;
  float: right;
  margin-top: calc(var(--pxequal) * -70);
  margin-right: 5%;
  background-color: #e2e2e2;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  line-height: 330%;
}
.right_product {
  width: calc(var(--pxequal) * 950);
  height: calc(var(--pxequal) * 683);
  margin-top: calc(var(--pxequal) * 260);
  margin-left: calc(var(--pxequal) * 215);
  box-shadow: 0 0 10px #c1c2c4;
  float: left;
  overflow: hidden;
}
div.right_text {
  height: calc(var(--pxequal) * 683);
  width: calc(var(--pxequal) * 511);
  float: left;
}
div.right_car {
  height: calc(var(--pxequal) * 683);
  width: calc(var(--pxequal) * 439);
  float: right;
  background-color: #135ec5;
}
.right_car img {
  width: calc(var(--pxequal) * 610);
  height: calc(var(--pxequal) * 362);
  margin-top: calc(var(--pxequal) * 161);
  margin-left: calc(var(--pxequal) * -80);
}
.right_product p:nth-of-type(1) {
  font-size: 0.78rem;
  color: #e2e2e2;
  font-weight: bold;
  margin-top: calc(var(--pxequal) * 69);
  margin-left: calc(var(--pxequal) * 58);
  margin-bottom: 0;
}
.right_product span {
  font-size: 1.67rem;
  font-weight: bold;
  color: #16ad2c;
  margin-left: calc(var(--pxequal) * 178);
}
.right_product p:nth-of-type(2) {
  font-size: 1.67rem;
  font-weight: bold;
  color: #135ec5;
  margin-top: calc(var(--pxequal) * 135);
  margin-left: calc(var(--pxequal) * 58);
  margin-bottom: 0;
}
.right_product info {
  display: block;
  width: calc(var(--pxequal) * 317);
  height: calc(var(--pxequal) * 156);
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  color: #c1c1c1;
  overflow: hidden;
  float: none;
  margin-top: calc(var(--pxequal) * 48);
  margin-left: calc(var(--pxequal) * 58);
  line-height: calc(var(--pxequal) * 40);
}
.ordercar {
  width: calc(var(--pxequal) * 214);
  height: calc(var(--pxequal) * 55);
  display: block;
  margin-left: calc(var(--pxequal) * 58);
  margin-top: calc(var(--pxequal) * 82);
  background-color: #135ec5;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  line-height: 330%;
}
.right_fresh {
  width: calc(var(--pxequal) * 86);
  height: calc(var(--pxequal) * 30);
  display: block;
  float: right;
  margin-top: calc(var(--pxequal) * -460);
  margin-right: 10%;
  background-color: #ffff;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #135ec5;
  text-decoration: none;
  line-height: 230%;
} 
main::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  display: block;
  width: calc(var(--pxequal) * 1462);
  height: auto;
  box-shadow: 0 0 10px #c1c2c4;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--pxequal) * 150);
}
footer ul {
  margin-left: calc(var(--pxequal) * -30);
  margin-top: 0rem;
  list-style: none;
  width: calc(var(--pxequal) * 1365);;
} 
footer ul::after {
  content: "";
  display: table;
  clear: both;
}
footer ul li {
  width: calc(var(--pxequal) * 300);
  font-weight: bold;
  font-size: 1rem;
  color: #c1c1c1;
  float: left;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 1%;
  margin-left: calc(var(--pxequal) * 40);
  margin-top: calc(var(--pxequal) * 70);
}
#selected {
  color: #000000;
  background-image: url(images/Pin.png);
  background-repeat: no-repeat;
  background-size: calc(var(--pxequal) * 23);
  background-position-x: right;
}
.trademarks2 {
  margin-left: calc(var(--pxequal) * 60);
  padding-top: calc(var(--pxequal) * 50);;
  height: calc(var(--pxequal) * 50);
  display: block;
  clear: both;
}
.trademarks2 img {
  width: auto;
  margin-right: calc(var(--pxequal) * 135);
  height: 100%;
}
.trademarks2 img:last-child {
  margin-right: 0;
}
.hidebutton {
  width: calc(var(--pxequal) * 188);
  height: calc(var(--pxequal) * 70);
  display: block;
  margin-top: calc(var(--pxequal) * 44);
  margin-right: auto;
  margin-left: auto;
  background-color: #135ec5;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.67rem;
  font-style: normal;
  text-align: center;
  color: #ffff;
  text-decoration: none;
  line-height: 230%;
  cursor: pointer;
}
div.parameters {
  width: 100%;
  height: calc(var(--pxequal) * 450);
  background-color: #135ec5;
  margin-top: -3%;
}
.whitesearch {
  width: calc(var(--pxequal) * 204);
  height: calc(var(--pxequal) * 55);
  display: block;
  background-color: #ffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(var(--pxequal) * 52);
  margin-bottom: calc(var(--pxequal) * 55);
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #135ec5;
  text-decoration: none;
  line-height: 330%;
}